body {
	margin: 0px 0px 20px 0px;
	border: 0;
	padding: 0;
		background-color: #FFFFFF;
	
        
	}

.clr
{
	clear: both;
	width: 0;
	height: 0;
	line-height: 0;
}

a {
	text-decoration: underline;
	
	font-weight: bold;
	}

a:link {
	color: #CF0824;
	}

a:visited {
	color: #CF0824;
	}

a:active {
	color: #CF0824;
	}

a:hover {
	color: #999999;
	}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	}

#container {
	line-height: 140%;
	
	background-color: #CCCCCC;
	
	}

#banner {
	font-family: Arial, sans-serif;
	color: #000000;
	background-color: #CF0824;
	text-align: left;
	padding: 15px;
	
	}

#banner-img {
	display: none;
	}


#banner a {
	color: #FFFFFF;
	text-decoration: none;
	}

#banner h1 {
	font-size: xx-large;
	font-weight: bold;
	
	
	}

#banner h2 {
	font-size: small;
	}

#pagebody
{
	position: relative;
	width: 100%;
}

#pagebody-inner
{
	position: static;
	width: 100%;
}


#center {
	
		margin-right: 300px;
	
	}

.content {
	padding: 15px 15px 5px 15px;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	color: #000000;
	font-family: Arial, sans-serif;
	font-size: small;
	}

#column {
    position: absolute;
    right: 150px;
    top: 0px;
    
    width: 150px;
    background-color: #CCCCCC;
    border: 1px solid #CCCCCC;
    overflow: hidden;
    }


#right {
	position: absolute;
	right: 0px;
	top: 0px;
	
	width: 150px;
	background-color: #CCCCCC;
	border: 1px solid #CCCCCC;
	overflow: hidden;
	}

.content p {
	color: #000000;
	font-family: Arial, sans-serif;
	font-size: small;
	font-weight: normal;
	line-height: 150%;
	text-align: left;
	margin-bottom: 10px;
	}

.content blockquote {
	line-height: 150%;
	}

.content li {
	line-height: 150%;
	}

.content h2 {
	color: #666666;
	font-family: Arial, sans-serif;
	font-size: x-small;
	
	text-align: left;
	font-weight: bold;
	
	
	margin-bottom: 10px;
	
	}

.content h3 {
	color: #666666;
	font-family: Georgia, 'Times New Roman', serif;
	font-size: medium;
	
	text-align: left;
	font-weight: bold;
	
	
	margin-bottom: 10px;
	
	}

.content p.posted {
	clear: both;
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	border-top: 1px solid #CCCCCC;
	text-align: left;
	
	
	
	margin-bottom: 25px;
	line-height: normal;
	padding: 3px;
	}

.sidebar {
	padding: 15px;
	}

.sidebar a {
	
	text-decoration: none;
	
	}

.sidebar a:link {
	color: #333333;
	}

.sidebar a:visited {
	color: #333333;
	}

.sidebar a:active {
	color: #333333;
	}

.sidebar a:hover {
	color: #333333;
	}


#calendar {
  	line-height: 140%;
	color: #006699;
	font-family: 'Trebuchet MS', Verdana, sans-serif;
	font-size: x-small;
	font-weight: bold;
	
	
  	padding: 2px;
	text-align: center;
	margin-bottom: 30px;
	}

#calendar table {
	padding: 2px;
	border-collapse: collapse;
	border: 0px;
	width: 100%;
	}

#calendar caption {
	color: #666666;
	font-family: Georgia, 'Times New Roman', serif;
	font-size: x-small;
	border-bottom: 1px solid #999999;
	text-align: left;
	font-weight: bold;
	
	text-transform: uppercase;
	padding: 3px;
	letter-spacing: .3em;
	}

#calendar th {
	text-align: center;
	font-weight: normal;
	}

#calendar td {
	text-align: center;
	}

.sidebar h2 {
	color: #666666;
	font-family: Georgia, 'Times New Roman', serif;
	font-size: x-small;
	border-bottom: 1px solid #999999;
	text-align: left;
	font-weight: bold;
	
	text-transform: uppercase;
  	padding: 3px;
	letter-spacing: .3em;
	}

.sidebar ul {
	padding-left: 0px;
	margin: 0px;
	margin-bottom: 30px;
	}

.sidebar li {
	color: #006699;
	font-family: 'Trebuchet MS', Verdana, sans-serif;
	font-size: x-small;
	text-align: left;
	line-height: 150%;
	font-weight: bold;
	
	
	margin-top: 10px;
	list-style-type: none;
	}

.sidebar img {
	border: 3px solid #EEEEEE;
	}

.photo {
	text-align: left;
	margin-bottom: 20px;
	}

.link-note {
	font-family: 'Trebuchet MS', Verdana, sans-serif;
	font-size: x-small;
	line-height: 150%;
	text-align: left;
	padding: 2px;
	margin-bottom: 15px;
	}

#powered {
	font-family: 'Trebuchet MS', Verdana, sans-serif;
	font-size: x-small;
	line-height: 150%;
	text-align: left;
	color: #006699;
	margin-top: 50px;
	}

#comment-data {
	float: left;
	position: relative;
	width: 180px;
	padding-right: 15px;
	margin-right: 15px;
	text-align: left;
	border-right: 1px dotted #BBB;
	}

textarea[id="comment-text"] {
	width: 80%;
	}

.image-full {
		width: 300px;
	
	}

.image-thumbnail {
	float: left;
	width: 130px;
	margin-bottom: 10px;
	}

.image-thumbnail img {
	width: 115px;
	height: 115px;
	}
}

/* From digg */

/* Page Numbers */
.pages {
    padding: 1em 1em 2em 1em;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    clear: left;
    font-size: 85%;
}

.pages a, .pages span {
    display: block;
    float: left;
    padding: 0.2em 0.5em;
    margin-right: 0.1em;
    border: 1px solid #fff;
    background: #fff;
}

.pages span.current {
    border: 1px solid #06c;
    font-weight: bold;
    background: #06c;
    color: #fff;
}

.pages a {
    border: 1px solid #9AAFE5;
    text-decoration: none;
}

.pages a:hover {
    border-color: #06c;
}

.pages a.nextprev {
    font-weight: bold;
}

.pages span.nextprev {
    color: #666;
}

.pages span.nextprev {
        border: 1px solid #ddd;
        color: #999;
}

